body {
	background-color: #252E40;
	font-family: "Dosis", sans-serif;
}

button {
	background-color: #EFEBEA;
	border: solid 2px #626973;
	border-radius: 10px;
	color: #252E40;
}

button:focus {
	outline: none;
}

/* Progress Bar */
#prog-bar {
	background-color: #8697A6;
	border: solid 5px #EFEBEA;
	border-radius: 15px;
	width: 50em;
	margin: 0 auto;
	margin-top: 3em;
}

#prog-nodes {
	padding: 0;
	margin: 1em 1em;
	width: 48em;
	display: table;
	table-layout: fixed;

}

/* Progress node */
.node {
	display: inline-block;
	text-align: center;
	width: 2em;
	height: 2em;
	margin-left: 2.6em;
	border-radius: 50% / 50%;
	border: dashed 1px #EFEBEA;
}

.unanswered {
	background-color: #8697A6;
}

/* Quiz box */
#quiz-box {
	background-color: #8697A6;
	border: solid 5px #EFEBEA;
	border-radius: 15px;
	width: 25em;
	height: 30em;
	margin: 0 auto;
	margin-top: 5em;
	padding: 2em 2em;
	text-align: center;
	position: relative;
}

#quiz {
	display:none;
}

#score {
	display:none;
}

#start-state {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}

#start {
	margin-top: 7em;
	padding: 1em;
	font-size: 2em;
}

/* Question Box */
#question {
	color: #EFEBEA;
	width: 24em;
	height: 5em;
	padding: .2em .5em;
	margin: 0 auto;
}

/* Answers */
#answers-box {
	height: 19em;
	padding: 1em 0;
}

#answers {
	padding: 0;
	list-style: none;
}

.answer {
	background-color: #626973;
	border: dashed 2px #EFEBEA;
	border-radius: 15px;
	color: #EFEBEA;
	margin: 1em auto;
	height: 3.5em;
	width: 21em;
	cursor: pointer;
	transition: background-color .3s;
}

.answer:hover {
	background-color: #EFEBEA;
	color: #626973;
	border-color: #626973;
	transition: background-color .3s;
}

.answer > p {
	margin: 0;
	padding-top: 1.1em;
}

.hidden {
	display: none;
}

/* Help Buttons */
.help {
	width: 30%;
	display: inline-block;
	padding: 1em;
	margin: 0 1em;
	transition: background-color .5s;
}

.disabled {
	text-decoration: line-through;
	background-color: #E64B4B;
	cursor: default;
}

/* Score */
#score {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}
#score > h1 {
	margin-top: 6em;
	color: #EFEBEA;
}

#restart {
	padding: 1em;
	font-size: 2em;
}

/* Answer results */
.correct, .correct:hover {
	background-color: #4BE66A;
}

.incorrect, .incorrect:hover {
	background-color: #E64B4B;
}


